:root {
    --color1: #fabfb7;
    --color2: #fdf9c4;
    --color3: #ffda9e;
    --color4: #c5c6c8;
    --color5: #b2e2f2;
    --color6: #8bf751;
}

@media (max-width: 767px) {
    body {
        margin: 0px;
    }
    header {
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    li {
        background-color: var(--color1);
        /* display: flex !important;
        flex-wrap: nowrap !important; */
    }

    label {
        border: 1px solid lightslategray;
        height: 20vh;
        width: 40vh;
        padding: 10px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: 500;
        /* line-height: 20vh; */
        display: table;
    }
}

h4{
    text-align: center;
    font-size: 25px;
}
ol {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

li {
    display: flex;
    flex-wrap: wrap;
}

label {
    border: 1px solid lightslategray;
    height: 20vh;
    width: 100vh;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 20vh; */
    display: table;

}

input[type="radio"]:checked + label {
    background-color:rgb(205, 234, 196);
  }

span {
    display: table-cell;
    vertical-align: middle;
}

li label:nth-child(1) {
    background-color: var(--color1);
}

li label:nth-child(3) {
    background-color: var(--color2);
}

li label:nth-child(5) {
    background-color: var(--color3);
}

li label:nth-child(9) {
    background-color: var(--color4);
}

li label:nth-child() {
    background-color: var(--color5);
}

li label:nth-child(7) {
    background-color: rgb(145, 190, 220);
}

li label:nth-child() {
    background-color: rgb(145, 190, 220);
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

input[type="submit"] {
    background-color: var(--color6);
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    border-radius: 25px;
}
